<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!--    <h1><%= title %></h1>-->
    <div style="text-align:center;"><img src="images/logo.jpeg" width="800px"></div>
    <p>Welcome to <%= title %></p>
  </body>
</html>
